<!--index.html-->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}
<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading"> Bucketlist Application </h1>
			<hr>
			<p>Bucket list application helps you record activities you wish to undertake, tick off what you have done and even invite
				your friends to have fun with you
			</p>
			<a href="/register" class="btn btn-primary btn-xl page-scroll" id="register"> Register </a>
		</div>
	</div>
</header>
{% endblock %}